<div class="flex-initial mb-[-20px] pb-[20px] md:mb-0 md:pb-0 bg-gradient-to-r from-cyan-500 to-blue-500 md:bg-white md:bg-none" id="payment_header">
  <p class="text-xl font-medium mt-5 ml-6 sm:px-8">Как выполнить оплату?</p>
  <p class="text-sm font-extralight mt-5 ml-6 sm:px-8">Ожидайте выдачи реквизита</p>
  <div class="mt-5 mb-10 ml-6 mr-6">
    <div class="bg-white flex justify-between items-center py-4 px-8 rounded-3xl">
      <div class="w-10 h-10 font-light text-sm rounded-full bg-blue-500 text-white font-bold flex items-center justify-center">1</div>
      <div class="border-b-[1px] border-blue-500 flex-grow h-0 mr-1 ml-1"></div>
      <div class="w-10 h-10 font-light text-sm rounded-full bg-white border-blue-500 border-[1px] text-blue-500 font-bold flex items-center justify-center">2</div>
    </div>
  </div>
</div>
