<%= turbo_frame_tag 'payment_body', data: { with_animation: local_assigns[:with_animation] } do %>
  <div
    class="
      flex flex-col items-center justify-center h-full animated
      <%= local_assigns[:with_animation] ? "out-of-screen" : "" %>
    "
    data-controller="auto-refresh"
    data-auto-refresh-frequency-value="15"
    data-auto-refresh-path-value="cached_payment"
    data-auto-refresh-hash-value="<%= payment[:hash] %>"
  >
    <%= image_tag "loading.gif" %>
    <p>
      Ожидайте выдачи реквизита
    </p>
  </div>
<% end %>
