<div class="w-full  h-screen flex justify-center items-center md:bg-gray-100">
  <div
    class="
      w-full h-screen md:h-auto flex
      flex-col md:flex-row md:grid md:grid-cols-[45%_55%] md:divide-x
      md:divide-gray-300 md:rounded-3xl md:py-8 md:min-h-[50%] md:w-auto md:bg-white
      md:min-w-[50%] md:max-w-[70%] overflow-scroll md:overflow-hidden relative md:static
    "
  >

    <%= render(partial: 'payments/payment/header/header', locals: local_assigns) %>

    <div
      class="
        z-10 bg-white md:bg-inherit h-100 flex-1 rounded-t-3xl md:overflow-hidden
        md:rounded-none
      "
    >
      <%= render(partial: 'payments/payment/body/body', locals: local_assigns) %>
    </div>
  </div>
</div>
