<% payment_methods = RedisPaymentMethods.fetch %>

<%= turbo_frame_tag 'payment_body', data: { with_animation: local_assigns[:with_animation] } do %>
  <div class="grid grid-cols-1 gap-y-6 mt-10 animated <%= local_assigns[:with_animation] ? "out-of-screen" : "" %>" data-hello-target="paymentMethods">
    <%= render PaymentMethodComponent.with_collection(payment_methods) %>
  </div>
<% end %>
