<%= turbo_frame_tag 'payment_header' do %>
  <p class="text-xl font-medium mt-5 ml-6">Ваш депозит успешно зачислен</p>
  <p class="text-sm font-extralight mt-5 ml-6">Благодарим вас за оплату</p>
  <div class="mt-5 mb-10 ml-6 mr-6">
    <div class="bg-white flex justify-between items-center py-4 px-8 rounded-3xl">
      <div class="w-10 h-10 font-light text-sm rounded-full bg-white text-blue-500 border-blue-500 border-[1px] font-bold flex items-center justify-center">&#x2713;</div>
      <div class="border-b-[1px] border-blue-500 flex-grow h-0 mr-1 ml-1"></div>
      <div class="w-10 h-10 font-light text-sm rounded-full bg-white text-blue-500 border-blue-500 border-[1px] font-bold flex items-center justify-center">&#x2713;</div>
    </div>
  </div>
<% end %>
