<%= turbo_frame_tag 'payment_header' do %>
  <p class="text-xl font-medium mt-5 ml-6 sm:px-8">Поддержка</p>
  <p class="text-sm font-extralight mt-5 ml-6 sm:px-8 mb-10">Ваше обращение отклонено</p>
<% end %>
