<%= turbo_frame_tag 'payment_body' do %>
  <div
    class="
      flex flex-col items-center justify-center h-full animated
    "

    data-controller="support"
  >
    <div data-support-target="dashboard"></div>
  </div>
<% end %>
